<div class="app">
  <nav class="main-nav">
    {{!-- {{#link-to "index"}} --}}
      <h1>
        <em>Книжный клуб</em>
      </h1>
    {{!-- {{/link-to}} --}}
    <div class="links">
      <ul>
        {{#link-to "books" class="menu-about"}}
          Книги
        {{/link-to}}
      </ul>
      <ul>
        {{#link-to "reports" class="menu-contact"}}
          Доклады
        {{/link-to}}
      </ul>
      <ul>
        {{#link-to "meetings" class="menu-contact"}}
          Встречи клуба
        {{/link-to}}
      </ul>
    </div>
    {{!-- <ul>
      <li><a href>Books</a></li>
    </ul> --}}
  </nav>
  
  <main class="app-content">
    {{outlet}}
  </main>
</div>