<h3>Встречи клуба</h3>
{{#each model as |meetings|}}
  <article class="listing">
    
    <div class="detail owner">
      <span>Дата:</span> {{meetings.date}}
    </div>
    <div class="detail type">
      <span>Доклады:</span>     
    {{#each meetings.reports}}
        <div class="detail type">
      <span>Дата:</span> {{meetings.date}}
    </div>
    {{/each}}
    </div>
  </article>
{{/each}}